{% extends 'index.html' %}

{% block content %}
    {% if results %}
        <h3 class="container">Search results:</h3>
        <div class="container">
            {% for result in results %}
            <div class="card text">
                <div class="card-header">
                    <b>{{result.tittle}}</b>
                </div>
                <div class="card-body">
                    {% if result.category_id %}
                    <p class="card-text">Category: {{result.category}}</p>
                    {% endif %}
                    <p class="card-text">{{result.text}}</p>
                    {% if result.reminder %}
                    <p class="card-text">Reminder: {{result.reminder}}</p>
                    {% endif %}
                    <a href="update-note/{{n.id}}" class="btn btn-outline-success">Update note</a>
                </div>
            </div>
            {% endfor %}
            <br>
        </div>
    {% else %}
        <p>Not found</p>
    {% endif %}
{% endblock %}